@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#050505] text-gray-300 transition-all duration-300;
  }
}

.light-theme {
  filter: invert(1) hue-rotate(180deg);
  background-color: #f2eee8 !important;
  /* Inverted #0d1117 */
}

/* Images, svgs, and videos shouldn't be inverted twice if we don't want them to look weird,
   but we can leave it simple for now, or revert them: */
.light-theme img,
.light-theme video {
  filter: invert(1) hue-rotate(180deg);
}